.container {
    width: 1140px;
    margin: 0 auto;
}

.flexible_container {
    display: flex;
}

body {
    background-color: #FFFFF0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* menu-section */

.logo img {
    height: 75px;
    width: 70px;
}

.menu_item {
    width: 50%;
    margin-left: 58%;
}



.menu_item ul li {
    margin-left: 45px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #2B547E;
    font-weight: 600;
}

.menu_item ul li:hover {
    color: #f82a34;
    border-bottom: 1px solid #f82a34;
    padding-bottom: 12px;

}

section {
    margin-bottom: 100px;
}

/* homepage-section */

h1 {
    font-size: 55px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #2B547E;
    margin-bottom: 20px;


}

.main_heading p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #4E5180;
    font-weight: 400;
    margin-bottom: 100px;
}

.main_heading {
    width: 50%;
}

.main_heading span {
    color: #f82a34;
}

.main_heading a {

    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: linear-gradient(15deg, #F87431, #f82a34);
    padding: 10px 20px;
    border-radius: 5px;

}

.main_heading a:hover {

    background-image: none;
    color: #f82a34;
    border: 3px solid #f82a34;


}

.home_page_img img {
    margin-left: 30px;
}

/* about-section */
.about_img {
    width: 50%;
}

.abt_txt {
    width: 50%;
    margin-top: 20px;
}

.about_img img {
    width: 90%;
}

.abt_txt h2 {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: #f82a34;
    font-weight: 700;
}

.abt_txt h3 {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #2B547E;
    font-weight: 700;
}

.abt_txt p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #4E5180;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 60px;
}

.abt_txt a {

    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: linear-gradient(15deg, #F87431, #f82a34);
    padding: 10px 20px;
    border-radius: 5px;

}

.abt_txt a:hover {

    background-image: none;
    color: #f82a34;
    border: 3px solid #f82a34;


}

/* recipe-section */
.rcp_txt {
    text-align: center;
}

.rcp_txt h2 {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: #f82a34;
    font-weight: 700;
}

.rcp_txt h3 {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #2B547E;
    font-weight: 700;
}

.rcp_txt p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #4E5180;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 60px;
    width: 50%;
    text-align: center;
    margin-left: 280px;


}

.rcp1 {
    box-shadow: 5px 7px 40px grey;
    width: 33%;
    padding: 16px;
    border-radius: 10px;
    margin-left: 20px;
    height: 450px;
}

.rcp_img img {
    width: 100%;
    height: 256px;
}

.rcp1 h3 {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #2B3856;
    font-weight: 700;
}

.rcp1 h3:hover {
    color: #f82a34;
}

.rcp1 p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #4E5180;
    font-weight: 400;
    text-align: justify;
}

/* testimonial-section */
.test_txt {
    text-align: center;
}


.test_txt p {
    width: 45%;
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #18191F;
    font-weight: 400;
    margin-left: 321px;
    margin-bottom: 40px;
}

.test_txt h3 {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #2B547E;
    font-weight: 700;
}

.test_txt span {
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    color: #f82a34;
    font-weight: 700;
}

.test_img img {
    margin-left: 44%;
}



.test_img_txt {
    text-align: center;
    margin-left: 2%;
}

.test_img_txt h4 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: #2B547E;
    font-weight: 700;

}

.test_img_txt h5 {
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    color: #2B547E;
    font-weight: 300;

}

/* countdown-section */


.count {
    box-shadow: 5px 7px 40px grey;
    width: 100%;
    padding: 20px;
    border-radius: 10px;

}

.count1 {
    width: 23%;
    text-align: center;
}

.count1 h2 {
    font-size: 46px;
    font-family: 'Poppins', sans-serif;
    color: #f82a34;
    font-weight: 600;
    margin-bottom: -7px;

}

.count1 p {
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    color: #2B547E;
    font-weight: 300;


}

/* order-section */
.ord_txt {
    width: 60%;
}

.ord_btn {
    width: 40%;
}

.ord_txt h2 {
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    color: #2B3856;
    font-weight: 600;

}

.ord_txt p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #4E5180;
    font-weight: 400;
}

.ord_btn {
    margin-top: 8%;
}

.ord_btn a {

    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: linear-gradient(15deg, #F87431, #f82a34);
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 65%;
    margin-top: 10%;

}



.ord_btn a:hover {

    background-image: none;
    color: #f82a34;
    border: 3px solid #f82a34;



}

/* footer-section */

.location {
    width: 40%;
}

.location h2 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: #f82a34;
    font-weight: 700;
}

.location p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #4E5180;
    font-weight: 400;
}

.hours {
    width: 40%;
    margin-left: 30px;
}

.hours h2 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: #f82a34;
    font-weight: 700;
}

.hours p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #4E5180;
    font-weight: 400;
}

footer {
    background-color: #f82a34;
    height: 40px;
    margin-bottom: 0;
}

footer h2 {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;

}