.container {
    width: 1140px;
    margin: 0 auto;
}

.flexible_container {
    display: flex;
}

body {
    background-color: #FFFFF0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* menu-section */

.logo img {
    height: 65px;
    width: 60px;
}

.menu_item {
    width: 50%;
    margin-left: 58%;
}



.menu_item ul li {
    margin-left: 45px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #2B547E;
    font-weight: 600;
}

.menu_item ul li:hover {
    color: #f82a34;
    border-bottom: 1px solid #f82a34;
    padding-bottom: 12px;

}

section {
    margin-bottom: 100px;
}

/* homepage-section */

h1 {
    font-size: 55px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #2B547E;
    margin-bottom: 20px;


}

.main_heading p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #4E5180;
    font-weight: 400;
    margin-bottom: 100px;
}

.main_heading {
    width: 50%;
}

.main_heading span {
    color: #f82a34;
}

.main_heading a {

    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #f82a34;
    padding: 10px 20px;
    border-radius: 5px;

}

.main_heading a:hover {

    background-color: #FFFFF0;
    color: #f82a34;
    border: 3px solid #f82a34;


}

.home_page_img img {
    margin-left: 30px;
}